################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin
/.vs/PokemonBlazor/DesignTimeBuild/.dtbcache.v2
/.vs/PokemonBlazor/v17/.suo
/obj/Debug/net6.0/apphost.exe
/obj/Debug/net6.0/PokemonBlazor.assets.cache
/obj/Debug/net6.0/PokemonBlazor.csproj.CoreCompileInputs.cache
/obj/Debug/net6.0/PokemonBlazor.csproj.FileListAbsolute.txt
/obj/Debug/net6.0/PokemonBlazor.genruntimeconfig.cache
/obj/Debug/net6.0/ref/PokemonBlazor.dll
/obj/Debug/net6.0/refint/PokemonBlazor.dll
/obj/Debug/net6.0/staticwebassets/msbuild.PokemonBlazor.Microsoft.AspNetCore.StaticWebAssets.props
/obj/Debug/net6.0/staticwebassets.build.json
/obj/Debug/net6.0/staticwebassets.development.json
/obj/Debug/net6.0/staticwebassets.pack.json
/obj/PokemonBlazor.csproj.nuget.dgspec.json
/obj/PokemonBlazor.csproj.nuget.g.props
/obj/project.assets.json
/obj/project.nuget.cache
/.vs/PokemonBlazor/v17/.futdcache.v2
