@using Data.Audio
@inject AudioService AudioService

@using Data.Layout
@inject LayoutService LayoutService


<div class="background" @onclick="@OnCloseDialog"></div>

<main>
    <h3>Settings</h3>

    <div class="volume-container">
        <input type="range" @bind="@Volume" min="0" max="10" step="1">
        <div class="volume">@Volume</div>
    </div>

    <div class="unokwn-container">
        <button @onclick="@ChangeUnokwnMode">???</button>
    </div>
    
</main>


@code {
    [Parameter]
    public EventCallback<bool> CloseDialog { get; set; }

    private int Volume { get; set; }

    protected override void OnInitialized()
    {
        Volume = AudioService.GetVolumeAsInt();
    }

    private Task OnCloseDialog(Object test)
    {
        AudioService.SetVolume(Volume);
        return CloseDialog.InvokeAsync(true);
    }

    private void ChangeUnokwnMode()
    {
        LayoutService.ChangeUnokwnMode();
    }
}
