table {
    border-color: var(--green-4);
    border-width: 4px;
}

tr {
    border-color: var(--green-4);
    border-bottom-width: 2px;
}

th {
    color: var(--green-4);
}

td {
    color: var(--green-4);
    border-bottom-width: 2px;
}

.first-column {
    text-align: center;
}

#RowSelector {
    visibility: hidden;
}

#PokedexRow {
    cursor: pointer;
}

#PokedexRow:hover {
    #RowSelector {
        visibility: visible;
    }
}