@using Data.Pokemon

<div class="background" @onclick="@OnCloseDialog"></div>

<div class="container">
    <h3>@Pokemon.Name</h3>
    <div style="background-color: white">
        <img src="@("PokemonSprites/"+Pokemon.Id+".png")">
    </div>
       
    <span>@Pokemon.Description</span>
</div>


@code {
    [Parameter]
    public Pokemon? Pokemon { get; set; }

    [Parameter]
    public EventCallback<bool> CloseDialog { get; set; }

    private Task OnCloseDialog(Object test)
    {
        return CloseDialog.InvokeAsync(true);
    }

}
