

<div style="width: 500px; height: 300px">
    <h3>@TextTest</h3>
</div>

@code {
    [Parameter]
    public string? TextTest { get; set; }

    // https://www.youtube.com/watch?v=udb6DNKZyhU&ab_channel=ClaudioBernasconi

}
