.navmenu-title[b-xduu9cxmjt] {
    color: var(--green-4);
}

nav > div[b-xduu9cxmjt] {
    display: flex;
    justify-content: center;
    margin: 8px 0;
}

h2[b-xduu9cxmjt] {
    text-align: center;
    margin: 24px 0;
}

div[b-xduu9cxmjt]  a {
    color: var(--green-4);
    font-size: 16px;
    text-decoration: none;
    padding: 4px;
    width: 200px;
    text-align: center;
}

div[b-xduu9cxmjt]  a:hover {
    background-color: var(--green-3);
    color: var(--green-1);
}

[b-xduu9cxmjt] .nav-active {
    background-color: var(--green-3);
    color: var(--green-2);
}