@inherits LayoutComponentBase

<PageTitle>Pokemon</PageTitle>

<div class="page" style="font-family: Unown !important; text-transform: lowercase;">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
