@inherits LayoutComponentBase

@using Data.Layout
@inject LayoutService LayoutService


<PageTitle>Pokemon</PageTitle>

<div class='@(UnokwnMode ? "page unokwn" : "page")'>
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>


@code {
    public bool UnokwnMode;

    protected override void OnInitialized()
    {
        UnokwnMode = LayoutService.IsUnokwnModeActive();
        LayoutService.LayoutChanged += UpdateUnokwnModeState;
    }

    private async void UpdateUnokwnModeState()
    {
        await InvokeAsync(() =>
        {
            UnokwnMode = LayoutService.IsUnokwnModeActive();
            StateHasChanged();
        });
    }
}