<h2 class="navmenu-title">Pokemon Blazor</h2>

<nav>
    <div class="nav-buttons">
        <div>
            <NavLink ActiveClass="nav-active" Match="NavLinkMatch.All" href="fetchdata">
                Fetch data
            </NavLink>
        </div>
        <div>
            <NavLink ActiveClass="nav-active" Match="NavLinkMatch.All" href="pokedex">
                Pokedex
            </NavLink>
        </div>
        <div>
            <NavLink ActiveClass="nav-active" Match="NavLinkMatch.All" href="team">
                Team
            </NavLink>
        </div>
    </div>

    <div class="nav-actions">
        <button><span class="oi oi-cog"></span></button>
    </div>
</nav>


@code {
}
