.navmenu-title {
    color: var(--green-4);
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.nav-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-buttons-container > div {
    margin: 8px;
}

.nav-actions {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    margin: 32px;
}

h2 {
    text-align: center;
    margin: 24px 0;
}

div ::deep a {
    display: block;
    color: var(--green-4);
    font-size: 16px;
    text-decoration: none;
    padding: 4px;
    width: 200px;
    text-align: center;
}

div ::deep a:hover {
    background-color: var(--green-3);
    color: var(--green-1);
}

::deep .nav-active {
    background-color: var(--green-3);
    color: var(--green-2);
}

button {
    color: var(--green-4);
    background-color: var(--green-1);
    border: var(--green-4) solid 2px;
}

button:hover {
    background-color: var(--green-3);
    color: var(--green-1);
}

button > span {
    margin: 8px;
    font-size: 28px;
}