@using PokemonBlazor.Dialogs.Settings;


<h2 class="navmenu-title">Pokemon Blazor</h2>

<nav>
    <div class="nav-buttons-container">
        <div>
            <NavLink ActiveClass="nav-active" Match="NavLinkMatch.All" href="pokedex">
                Pokedex
            </NavLink>
        </div>
        <div>
            <NavLink ActiveClass="nav-active" Match="NavLinkMatch.All" href="team">
                Team
            </NavLink>
        </div>
    </div>

    <div class="nav-actions">
        <button @onclick="@OpenSettings"><span class="oi oi-cog"></span></button>
    </div>
</nav>

@if (Settings)
{
    <Settings CloseDialog="@CloseSettings"></Settings>
}


@code {
    private Boolean Settings = false;

    private void OpenSettings()
    {
        Settings = true;
    }

    private void CloseSettings()
    {
        Settings = false;
    }
}
