/* _content/PokemonBlazor/Dialogs/PokemonDetail/PokemonDetail.razor.rz.scp.css */
.background[b-hcjc1zba6u] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000015;
    cursor: pointer;
}

main[b-hcjc1zba6u] {
    position: fixed;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: 400px;
    background-color: var(--green-1);
    cursor: default;
    outline: var(--green-3) dashed 8px;
    border: var(--green-4) solid 4px;
    display: flex;
    flex-direction: column;
}

.details[b-hcjc1zba6u] {
    flex-grow: 1;
    display: flex;
    height: 180px;
}

.details > div[b-hcjc1zba6u] {
    flex-grow: 1;
}

.img-container[b-hcjc1zba6u] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container > span[b-hcjc1zba6u] {
    font-weight: bold;
    color: var(--green-4);
}

@keyframes wiggle-b-hcjc1zba6u {
    8% { left: 12px; }
    16% { left: 0px; }
    26% { left: -12px; }
    34% { left: 0px; }
    42% { left: 12px; }
    50% { left: 0px; }
    58% { left: -12px; }
    66% { left: 0px; }
    75% { left: 12px; }
    83% { left: 0px; }
    91% { left: -12px; }
    100% { left: 0px; }
}

img[b-hcjc1zba6u] {
    animation-name: wiggle-b-hcjc1zba6u;
    animation-duration: 0.5s;
    width: auto;
    height: 100px;
    position: relative;
    left: 0px;
}

.info-container[b-hcjc1zba6u] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
}

.info-container > h3[b-hcjc1zba6u] {
    color: var(--green-4);
}

.info-container > span[b-hcjc1zba6u] {
    color: var(--green-4);
    margin-top: 8px;
}

.text-container[b-hcjc1zba6u] {
    flex-grow: 1;
    padding: 20px;
    border-top: var(--green-4) solid 4px;
}

.text-container > span[b-hcjc1zba6u] {
    font-size: 16px;
    color: var(--green-4);
}
/* _content/PokemonBlazor/Pages/Pokedex/Pokedex.razor.rz.scp.css */
.loading[b-vhyczgpqmd] {
    margin-top: 12px;
}

table[b-vhyczgpqmd] {
    border-color: var(--green-4);
    border-width: 4px;
}

tr[b-vhyczgpqmd] {
    border-color: var(--green-4);
    border-bottom-width: 2px;
}

th[b-vhyczgpqmd] {
    color: var(--green-4);
}

td[b-vhyczgpqmd] {
    color: var(--green-4);
    border-bottom-width: 2px;
}

.first-column[b-vhyczgpqmd] {
    text-align: center;
}

#RowSelector[b-vhyczgpqmd] {
    visibility: hidden;
}

#PokedexRow[b-vhyczgpqmd] {
    cursor: pointer;
}

#PokedexRow:hover[b-vhyczgpqmd] {
    #RowSelector {
        visibility: visible;
    }
}
/* _content/PokemonBlazor/Shared/MainLayout.razor.rz.scp.css */
.page[b-odz8lz5bfv] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-odz8lz5bfv] {
    height: 100vh;
    overflow: auto;
    flex: 1;
    background-color: var(--green-1);
    border: 8px dashed var(--green-4);
    border-left-width: 0px;
}

.page[b-odz8lz5bfv] {
    flex-direction: row;
}

.sidebar[b-odz8lz5bfv] {
    width: 300px;
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: var(--green-1);
    border: 8px dashed var(--green-4);
}

.top-row[b-odz8lz5bfv] {
    position: sticky;
    top: 0;
    z-index: 1;
}

.top-row[b-odz8lz5bfv], article[b-odz8lz5bfv] {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
}

/* _content/PokemonBlazor/Shared/NavMenu.razor.rz.scp.css */
.navmenu-title[b-xduu9cxmjt] {
    color: var(--green-4);
}

nav > div[b-xduu9cxmjt] {
    display: flex;
    justify-content: center;
    margin: 8px 0;
}

h2[b-xduu9cxmjt] {
    text-align: center;
    margin: 24px 0;
}

div[b-xduu9cxmjt]  a {
    color: var(--green-4);
    font-size: 16px;
    text-decoration: none;
    padding: 4px;
    width: 200px;
    text-align: center;
}

div[b-xduu9cxmjt]  a:hover {
    background-color: var(--green-3);
    color: var(--green-1);
}

[b-xduu9cxmjt] .nav-active {
    background-color: var(--green-3);
    color: var(--green-2);
}
